{% extends 'base.html '%}

{% block txt %}

<style type="text/css">



.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}
.card .body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
}


.profile-page .profile-header .profile-image img {
    border-radius: 50%;
    width: 140px;
    border: 3px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}



.gradient-custom-3 {
        
        background: #1FA2FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

</style>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container profile-page">

    <section class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                
                  
                
                    <div class="card-body p-4 text-center">
                        <div class="card-body p-7 text-center"></div>
              
                <div class="card-body text-center">
    <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img src="https://i.imgur.com/wvxPV9S.png" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0"><strong>BOUICH</strong> Ilham</h4>
                            <span class="job_post">3IIR9</span>
                            <p>bouichilham2@gmail.com</p>
                           
                           
                        </div>                
                    </div>
                </div>                    
            </div>
        </div>
        
        
        <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img src="https://i.imgur.com/wvxPV9S.png" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0"><strong>ACHARGUI AFKIR</strong> Nouralhouda</h4>
                            <span class="job_post">3IIR9</span>
                            <p>nouralhoudaafkir@gmail.com</p>
                          
                          
                        </div>                
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>
</div>
</div>

</section>
        
 <br>
 <br>
 <br>   
{% endblock txt %}