{% extends 'base.html' %}
{% load static %}


{% block txt %}



  <div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient12.webp);">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Platform Sondage</strong></h2>
        <p class="mx-5 mb-5">Be the person with great ideas. Surveys give you actionable insights and fresh perspectives.20 million questions answered daily.
        </p>
        
        <button type="button" class="btn btn-outline-light">Rapport</button>
      </div>
    </div>
  </div>
  



{% endblock txt %}

